{"openapi":"3.0.0","info":{"title":"Docs API Reference","version":"v1","description":"Docs Api secification and documentation.","termsOfService":"","license":null,"contact":{"url":"v1"},"x-logo":{"url":"https:\/\/server43.mevivu.com\/topzone_cms\/public\/assets\/images\/logo.png","altText":"Docs API Reference","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"X-TOKEN-ACCESS":{"type":"http","scheme":"string"}},"schemas":[]},"servers":[{"url":"https:\/\/server43.mevivu.com\/topzone_cms","description":"Documentation generator server."},{"url":"http:\/\/test.example.com","description":"Test server."}],"paths":{"\/api\/v1\/posts-categories":{"get":{"tags":["Chuy\u00ean m\u1ee5c"],"operationId":"Danh s\u00e1ch chuy\u00ean m\u1ee5c","description":"L\u1ea5y danh s\u00e1ch chuy\u00ean m\u1ee5c.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"name":"parent 3","slug":"parent-3","children":[{"id":8,"name":"child 3","slug":"child-3"}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts-categories\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts-categories\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts-categories\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts-categories\/show\/{id}":{"get":{"tags":["Chuy\u00ean m\u1ee5c"],"operationId":"Chi ti\u1ebft chuy\u00ean m\u1ee5c","description":"L\u1ea5y chi ti\u1ebft chuy\u00ean m\u1ee5c.","parameters":[{"in":"path","name":"id","description":"id ho\u1eb7c chuy\u00ean m\u1ee5c.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":6,"name":"children","slug":"children","parents":[{"id":7,"name":"parent","slug":"parent"}],"posts":[{"id":2,"title":"iphone 15 sap ra","slug":"iphone-15-sap-ra","image":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","is_featured":false,"excerpt":null,"posted_at":"2023-04-18 15:08:56"}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts-categories\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts-categories\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts-categories\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"DS b\u00e0i vi\u1ebft","description":"L\u1ea5y danh s\u00e1ch b\u00e0i vi\u1ebft.","parameters":[{"in":"query","name":"page","description":"Trang hi\u1ec7n t\u1ea1i, page > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"limit","description":"S\u1ed1 l\u01b0\u1ee3ng b\u00e0i vi\u1ebft trong 1 trang, limit > 0.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/localhost\/topzone\/public\/uploads\/images\/accnhi96141892532044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","posted_at":"2023-04-19 10:12:57"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\");\n\nlet params = {\n    \"page\": \"1\",\n    \"limit\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"page\" => \"1\",\n    \"limit\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts\/featured":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"DS b\u00e0i vi\u1ebft n\u1ed5i b\u1eadt","description":"L\u1ea5y danh s\u00e1ch b\u00e0i vi\u1ebft n\u1ed5i b\u1eadt.","parameters":[{"in":"query","name":"page","description":"Trang hi\u1ec7n t\u1ea1i, page > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"limit","description":"S\u1ed1 l\u01b0\u1ee3ng b\u00e0i vi\u1ebft trong 1 trang, limit > 0.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/localhost\/topzone\/public\/uploads\/images\/accnhi96141892532044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","posted_at":"2023-04-19 10:12:57"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/featured\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/featured\");\n\nlet params = {\n    \"page\": \"1\",\n    \"limit\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"page\" => \"1\",\n    \"limit\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/featured?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts\/show\/{id}":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"Chi ti\u1ebft b\u00e0i vi\u1ebft","description":"L\u1ea5y chi ti\u1ebft b\u00e0i vi\u1ebft.","parameters":[{"in":"path","name":"id","description":"id b\u00e0i vi\u1ebft.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/localhost\/topzone\/public\/uploads\/images\/1597766959764584432044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","content":"<p>H&eacute; l\u1ed9 ios 17 s\u1eafp ra m\u1eaft<\/p>","posted_at":"2023-04-19 10:12:57"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts\/related\/{id}":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"DS b\u00e0i vi\u1ebft li\u00ean quan","description":"L\u1ea5y danh s\u00e1ch b\u00e0i vi\u1ebft li\u00ean quan.","parameters":[{"in":"query","name":"page","description":"Trang hi\u1ec7n t\u1ea1i, page > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"limit","description":"S\u1ed1 l\u01b0\u1ee3ng b\u00e0i vi\u1ebft trong 1 trang, limit > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"path","name":"id","description":"id b\u00e0i vi\u1ebft.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/localhost\/topzone\/public\/uploads\/images\/accnhi96141892532044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","posted_at":"2023-04-19 10:12:57"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/related\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/related\/{id}\");\n\nlet params = {\n    \"page\": \"1\",\n    \"limit\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"page\" => \"1\",\n    \"limit\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/posts\/related\/{id}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/reviews":{"get":{"tags":["\u0110\u00e1nh gi\u00e1 s\u1ea3n ph\u1ea9m"],"operationId":"Danh s\u00e1ch review c\u1ee7a s\u1ea3n ph\u1ea9m","description":"L\u1ea5y danh s\u00e1ch review c\u1ee7a s\u1ea3n ph\u1ea9m.","parameters":[{"in":"query","name":"product_id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"fullname":"Tran Van A","avatar":"http:\/\/domain.com\/public\/assets\/images\/default-image.png","content":"content","rating":5}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reviews\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reviews\");\n\nlet params = {\n    \"product_id\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"product_id\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reviews?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/reviews\/store":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u00e1nh gi\u00e1 s\u1ea3n ph\u1ea9m"],"operationId":"T\u1ea1o \u0111\u00e1nh gi\u00e1","description":"T\u1ea1o \u0111\u00e1nh gi\u00e1 cho s\u1ea3n ph\u1ea9m.","requestBody":{"description":"T\u1ea1o \u0111\u00e1nh gi\u00e1 cho s\u1ea3n ph\u1ea9m.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["product_id","rating"],"properties":{"product_id":{"type":"integer","example":1,"description":"id s\u1ea3n ph\u1ea9m."},"rating":{"type":"integer","example":5,"description":"X\u1ebfp h\u1ea1ng \u0111\u00e1nh gi\u00e1."},"content":{"type":"string","example":"content","description":"N\u1ed9i dung \u0111\u00e1nh gi\u00e1."}},"example":{"product_id":1,"rating":5,"content":"content"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":10,"fullname":"Tran Van A","avatar":"http:\/\/domain.com\/public\/assets\/images\/default-image.png","content":"content","rating":5}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reviews\/store\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"product_id\"=\"1\" \\\n    -d \"rating\"=\"5\" \\\n    -d \"content\"=\"content\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reviews\/store\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"product_id\": \"1\",\n    \"rating\": \"5\",\n    \"content\": \"content\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"product_id\" =>  \"1\",\n    \"rating\" =>  \"5\",\n    \"content\" =>  \"content\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reviews\/store\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"Danh s\u00e1ch \u0111\u01a1n h\u00e0ng","description":"L\u1ea5y danh s\u00e1ch \u0111\u01a1n h\u00e0ng c\u1ee7a user.","parameters":[{"in":"query","name":"status","description":"tr\u1ea1ng th\u00e1i \u0111\u01a1n h\u00e0ng: 1: \u0111ang x\u1eed l\u00fd; 2: \u0111\u00e3 x\u1eed l\u00fd; 3: \u0111\u00e3 ho\u00e0n th\u00e0nh; 4: \u0111\u00e3 h\u1ee7y.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"total":2970000,"status":1,"product":{"id":2,"name":"Iphone 15","qty":15,"unit_price":2000000,"slug":"iphone-15","avatar":"\/public\/assets\/images\/default-image.png","attribute_variations":[{"id":1,"name":"64GB"},{"id":2,"name":"M\u00e0u Tr\u1eafng"}]}}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\");\n\nlet params = {\n    \"status\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"status\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order\/store":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"T\u1ea1o \u0111\u01a1n h\u00e0ng","description":"T\u1ea1o \u0111\u01a1n h\u00e0ng c\u1ee7a user.","requestBody":{"description":"T\u1ea1o \u0111\u01a1n h\u00e0ng c\u1ee7a user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["customer_fullname","customer_phone","customer_email","shipping_address","payment_code"],"properties":{"customer_fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean kh\u00e1ch h\u00e0ng."},"customer_phone":{"type":"phone","example":"0999999999","description":"S\u1ed1 \u0111i\u1ec7n tho\u1ea1i."},"customer_email":{"type":"email","example":"example@gmail.com","description":"Email c\u1ee7a kh\u00e1ch h\u00e0ng."},"shipping_address":{"type":"string","example":"998 Quang trung, GV","description":"\u0110\u1ecba ch\u1ec9 giao h\u00e0ng."},"payment_code":{"type":"string","example":"12BCB","description":"M\u00e3 thanh to\u00e1n c\u1ee7a KH."},"note":{"type":"string","example":"Giao tr\u01b0\u1edbc t7","description":"Ghi ch\u00fa KH."}},"example":{"customer_fullname":"Nguyen Van A","customer_phone":"0999999999","customer_email":"example@gmail.com","shipping_address":"998 Quang trung, GV","payment_code":"12BCB","note":"Giao tr\u01b0\u1edbc t7"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"order_id":5}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/store\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"customer_fullname\"=\"Nguyen Van A\" \\\n    -d \"customer_phone\"=\"0999999999\" \\\n    -d \"customer_email\"=\"example@gmail.com\" \\\n    -d \"shipping_address\"=\"998 Quang trung, GV\" \\\n    -d \"payment_code\"=\"12BCB\" \\\n    -d \"note\"=\"Giao tr\u01b0\u1edbc t7\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/store\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"customer_fullname\": \"Nguyen Van A\",\n    \"customer_phone\": \"0999999999\",\n    \"customer_email\": \"example@gmail.com\",\n    \"shipping_address\": \"998 Quang trung, GV\",\n    \"payment_code\": \"12BCB\",\n    \"note\": \"Giao tr\u01b0\u1edbc t7\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"customer_fullname\" =>  \"Nguyen Van A\",\n    \"customer_phone\" =>  \"0999999999\",\n    \"customer_email\" =>  \"example@gmail.com\",\n    \"shipping_address\" =>  \"998 Quang trung, GV\",\n    \"payment_code\" =>  \"12BCB\",\n    \"note\" =>  \"Giao tr\u01b0\u1edbc t7\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/store\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order\/cancel":{"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"H\u1ee7y \u0111\u01a1n h\u00e0ng","description":"H\u1ee7y \u0111\u01a1n h\u00e0ng c\u1ee7a user.","requestBody":{"description":"H\u1ee7y \u0111\u01a1n h\u00e0ng c\u1ee7a user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","example":1,"description":"id \u0111\u01a1n h\u00e0ng."}},"example":{"id":1}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/cancel\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"id\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/cancel\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"id\": \"1\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"id\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/cancel\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order\/show\/{id}":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"Chi ti\u1ebft \u0111\u01a1n h\u00e0ng","description":"L\u1ea5y chi ti\u1ebft \u0111\u01a1n h\u00e0ng c\u1ee7a user.","parameters":[{"in":"path","name":"id","description":"id c\u1ee7a \u0111\u01a1n h\u00e0ng.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":6,"customer_fullname":"Truong","customer_phone":"0999999999","customer_email":"truonng@gmail.com","shipping_address":"998","sub_total":3188000,"discount":0,"total":3188000,"payment_code":123,"status":1,"note":null,"created_at":"2023-04-05T02:31:15.000000Z","order_details":[{"id":2,"name":"Iphone 15","qty":15,"unit_price":2000000,"slug":"iphone-15","avatar":"\/public\/assets\/images\/default-image.png","attribute_variations":[{"id":1,"name":"64GB"},{"id":2,"name":"M\u00e0u Tr\u1eafng"}]}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/show\/{id}\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/show\/{id}\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/order\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"Danh s\u00e1ch s\u1ea3n ph\u1ea9m trong gi\u1ecf h\u00e0ng","description":"L\u1ea5y danh s\u00e1ch s\u1ea3n ph\u1ea9m trong gi\u1ecf h\u00e0ng c\u1ee7a user.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"qty":2,"product":{"id":5,"name":"Iphone 16","slug":"iphone-16-1","in_stock":true,"avatar":"\/public\/assets\/images\/default-image.png"},"product_variation":{"id":6,"price":33333333,"promotion_price":null,"image":"\/public\/assets\/images\/default-image.png","attribute_variations":[{"id":2,"name":"M\u00e0u \u0111\u1ecf"},{"id":3,"name":"128GB"}]}}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart\/store":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng","description":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a user.","requestBody":{"description":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["product_id","qty"],"properties":{"product_id":{"type":"integer","example":1,"description":"id s\u1ea3n ph\u1ea9m."},"variation_id[]":{"type":"option","example":"1","description":"s\u1ed1 id bi\u1ebfn th\u1ec3 s\u1ea3n ph\u1ea9m ph\u1ea3i t\u01b0\u01a1ng \u1ee9ng v\u1edbi thu\u1ed9c t\u00ednh sp."},"qty":{"type":"integer","example":1,"description":"S\u1ed1 l\u01b0\u1ee3ng s\u1ea3n ph\u1ea9m."}},"example":{"product_id":1,"variation_id[]":"1","qty":1}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/store\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"product_id\"=\"1\" \\\n    -d \"variation_id[]\"=\"1\" \\\n    -d \"qty\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/store\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"product_id\": \"1\",\n    \"variation_id[]\": \"1\",\n    \"qty\": \"1\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"product_id\" =>  \"1\",\n    \"variation_id[]\" =>  \"1\",\n    \"qty\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/store\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart\/update":{"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"C\u1eadp nh\u1eadt gi\u1ecf h\u00e0ng","description":"C\u1eadp nh\u1eadt ho\u1eb7c x\u00f3a item gi\u1ecf h\u00e0ng c\u1ee7a user.","requestBody":{"description":"C\u1eadp nh\u1eadt ho\u1eb7c x\u00f3a item gi\u1ecf h\u00e0ng c\u1ee7a user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["id[]","qty[]"],"properties":{"id[]":{"type":"integer","example":1,"description":"Danh s\u00e1ch id item gi\u1ecf h\u00e0ng."},"qty[]":{"type":"integer","example":1,"description":"Danh s\u00e1ch qty ph\u1ea3i t\u01b0\u01a1ng \u1ee9ng v\u1edbi ds id (n\u1ebfu qty = 0 item s\u1ebd b\u1ecb x\u00f3a)."}},"example":{"id[]":1,"qty[]":1}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/update\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"id[]\"=\"1\" \\\n    -d \"qty[]\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/update\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"id[]\": \"1\",\n    \"qty[]\": \"1\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"id[]\" =>  \"1\",\n    \"qty[]\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/update\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart\/delete":{"delete":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"X\u00f3a item gi\u1ecf h\u00e0ng","description":"Truy\u1ec1n v\u00e0o m\u1ea3ng id item gi\u1ecf h\u00e0ng \u0111\u1ec3 x\u00f3a.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/delete\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"id[]\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/delete\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"id[]\": \"1\",\n})\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"id[]\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/shopping-cart\/delete\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/category":{"get":{"tags":["Danh m\u1ee5c"],"operationId":"Danh s\u00e1ch danh m\u1ee5c","description":"L\u1ea5y danh s\u00e1ch danh m\u1ee5c.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"name":"parent 3","slug":"parent-3","avatar":null,"children":[{"id":8,"name":"child 3","slug":"child-3","avatar":null}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/category\/product":{"get":{"tags":["Danh m\u1ee5c"],"operationId":"Danh s\u00e1ch danh m\u1ee5c k\u00e8m s\u1ea3n ph\u1ea9m","description":"L\u1ea5y danh s\u00e1ch danh m\u1ee5c root v\u00e0 t\u1ea5t c\u1ea3 s\u1ea3n ph\u1ea9m thu\u1ed9c danh m\u1ee5c n\u00e0y v\u00e0 danh m\u1ee5c c\u1ee7a n\u00f3.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":5,"name":"Ipad","slug":"ipad","products":[{"id":4,"name":"iPab pro","slug":"iPab-pro","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":2000000,"promotion_price":null}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/product\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/product\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/product\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/category\/show\/{id}":{"get":{"tags":["Danh m\u1ee5c"],"operationId":"Chi ti\u1ebft danh m\u1ee5c","description":"L\u1ea5y chi ti\u1ebft danh m\u1ee5c.","parameters":[{"in":"path","name":"id","description":"id ho\u1eb7c slug danh m\u1ee5c.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":6,"name":"children","slug":"children","parents":[{"id":7,"name":"parent","slug":"parent"},{"id":9,"name":"chuas","slug":"chuas"}],"products":[{"id":5,"name":"Iphone 16","slug":"iphone-16","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":200000,"promotion_price":null}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/category\/auth\/product":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Danh m\u1ee5c c\u1ee7a user"],"operationId":"Danh s\u00e1ch danh m\u1ee5c k\u00e8m s\u1ea3n ph\u1ea9m c\u1ee7a user","description":"L\u1ea5y danh s\u00e1ch danh m\u1ee5c root v\u00e0 t\u1ea5t c\u1ea3 s\u1ea3n ph\u1ea9m thu\u1ed9c danh m\u1ee5c n\u00e0y v\u00e0 danh m\u1ee5c c\u1ee7a n\u00f3 cho user.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":5,"name":"Ipad","slug":"ipad","products":[{"id":4,"name":"iPab pro","slug":"iPab-pro","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":2000000,"promotion_price":null}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/auth\/product\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/auth\/product\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/auth\/product\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/category\/auth\/show\/{id}":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Danh m\u1ee5c c\u1ee7a user"],"operationId":"Chi ti\u1ebft danh m\u1ee5c c\u1ee7a user","description":"L\u1ea5y chi ti\u1ebft danh m\u1ee5c c\u1ee7a user.","parameters":[{"in":"path","name":"id","description":"id danh m\u1ee5c.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":6,"name":"children","slug":"children","parents":[{"id":7,"name":"parent","slug":"parent"},{"id":9,"name":"chuas","slug":"chuas"}],"products":[{"id":5,"name":"Iphone 16","slug":"iphone-16","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":200000,"promotion_price":null}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/auth\/show\/{id}\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/auth\/show\/{id}\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/category\/auth\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product":{"get":{"tags":["S\u1ea3n ph\u1ea9m"],"operationId":"Danh s\u00e1ch s\u1ea3n ph\u1ea9m","description":"L\u1ea5y danh s\u00e1ch s\u1ea3n ph\u1ea9m.","parameters":[{"in":"query","name":"keywords","description":"T\u1eeb kh\u00f3a s\u1ea3n ph\u1ea9m.","required":false,"schema":{"type":"string","example":"ipad"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"name":"Iphone 14","slug":"iphone-14","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":20900,"promotion_price":10000}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\");\n\nlet params = {\n    \"keywords\": \"ipad\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"keywords\" => \"ipad\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/show\/{id}":{"get":{"tags":["S\u1ea3n ph\u1ea9m"],"operationId":"chi ti\u1ebft s\u1ea3n ph\u1ea9m","description":"L\u1ea5y ti\u1ebft c\u1ee7a s\u1ea3n ph\u1ea9m.","parameters":[{"in":"path","name":"id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"name":"Iphone 14","slug":"iphone-14","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":20900,"promotion_price":10000}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/variation\/show":{"get":{"tags":["S\u1ea3n ph\u1ea9m"],"operationId":"chi ti\u1ebft bi\u1ebfn th\u1ec3 s\u1ea3n ph\u1ea9m","description":"L\u1ea5y ti\u1ebft bi\u1ebfn th\u1ec3 c\u1ee7a s\u1ea3n ph\u1ea9m.","parameters":[{"in":"query","name":"product_id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}},{"in":"query","name":"variation_id[]","description":"s\u1ed1 id bi\u1ebfn th\u1ec3 s\u1ea3n ph\u1ea9m ph\u1ea3i t\u01b0\u01a1ng \u1ee9ng v\u1edbi thu\u1ed9c t\u00ednh sp.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"price":20900,"promotion_price":10000,"image":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/variation\/show\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/variation\/show\");\n\nlet params = {\n    \"product_id\": \"1\",\n    \"variation_id[]\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"product_id\" => \"1\",\n    \"variation_id[]\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/variation\/show?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/auth":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["S\u1ea3n ph\u1ea9m cho user"],"operationId":"Danh s\u00e1ch s\u1ea3n ph\u1ea9m c\u1ee7a user","description":"L\u1ea5y danh s\u00e1ch s\u1ea3n ph\u1ea9m.","parameters":[{"in":"query","name":"keywords","description":"T\u1eeb kh\u00f3a s\u1ea3n ph\u1ea9m.","required":false,"schema":{"type":"string","example":"ipad"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"name":"Iphone 14","slug":"iphone-14","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":20900,"promotion_price":10000}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\");\n\nlet params = {\n    \"keywords\": \"ipad\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"keywords\" => \"ipad\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/auth\/show\/{id}":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["S\u1ea3n ph\u1ea9m cho user"],"operationId":"chi ti\u1ebft s\u1ea3n ph\u1ea9m c\u1ee7a user","description":"L\u1ea5y ti\u1ebft c\u1ee7a s\u1ea3n ph\u1ea9m.","parameters":[{"in":"path","name":"id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"name":"Iphone 14","slug":"iphone-14","in_stock":true,"avatar":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","price":20900,"promotion_price":10000}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\/show\/{id}\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\/show\/{id}\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/auth\/variation\/show":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["S\u1ea3n ph\u1ea9m cho user"],"operationId":"chi ti\u1ebft bi\u1ebfn th\u1ec3 S\u1ea3n ph\u1ea9m cho user","description":"L\u1ea5y ti\u1ebft bi\u1ebfn th\u1ec3 c\u1ee7a S\u1ea3n ph\u1ea9m cho user.","parameters":[{"in":"query","name":"product_id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}},{"in":"query","name":"variation_id[]","description":"s\u1ed1 id bi\u1ebfn th\u1ec3 s\u1ea3n ph\u1ea9m ph\u1ea3i t\u01b0\u01a1ng \u1ee9ng v\u1edbi thu\u1ed9c t\u00ednh sp.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"price":20900,"promotion_price":10000,"image":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\/variation\/show\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\/variation\/show\");\n\nlet params = {\n    \"product_id\": \"1\",\n    \"variation_id[]\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"product_id\" => \"1\",\n    \"variation_id[]\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/product\/auth\/variation\/show?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/slider\/show\/{key}":{"get":{"tags":["Slider"],"operationId":"Chi ti\u1ebft slider","description":"L\u1ea5y chi ti\u1ebft slider.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"name":"Home page","desc":"321","items":[{"title":"slider 1","link":"#","image":"http:\/\/localhost\/topzone\/public\/uploads\/files\/img-catesound.png","mobile_image":"http:\/\/localhost\/topzone\/public\/uploads\/files\/airpods-2268.jpeg"},{"title":"slider 2","link":"#","image":"http:\/\/localhost\/topzone\/public\/uploads\/files\/mac.png","mobile_image":"http:\/\/localhost\/topzone\/public\/uploads\/files\/mac.png"}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/slider\/show\/{key}\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/slider\/show\/{key}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/slider\/show\/{key}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/auth":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"L\u1ea5y th\u00f4ng tin user","description":"L\u1ea5y user hi\u1ec7n t\u1ea1i th\u00f4ng qua access_token. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n\n<li><strong>vip<\/strong>:\n     <ul>\n         <li>1: b\u00ecnh th\u01b0\u1eddng<\/li>\n         <li>2: \u0110\u1ed3ng<\/li>\n         <li>3: B\u1ea1c<\/li>\n         <li>4: v\u00e0ng<\/li>\n         <li>5: kim c\u01b0\u1eddng<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":2,"username":"0999999999","fullname":"Truong","email":"truog@gmai1l.com","phone":"0999999999","address":null,"gender":1,"vip":1,"created_at":"2023-03-26T06:41:42.000000Z"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"C\u1eadp nh\u1eadt","description":"C\u1eadp nh\u1eadt th\u00f4ng tin user hi\u1ec7n t\u1ea1i. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","requestBody":{"description":"C\u1eadp nh\u1eadt th\u00f4ng tin user hi\u1ec7n t\u1ea1i. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["fullname","email","gender"],"properties":{"fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean c\u1ee7a b\u1ea1n."},"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."},"gender":{"type":"integer","example":1,"description":"Gi\u1edbi t\u00ednh C\u1ee7a b\u1ea1n."},"address":{"type":"string","example":"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM","description":"\u0110\u1ecba ch\u1ec9 hi\u1ec7n t\u1ea1i c\u1ee7a b\u1ea1n."}},"example":{"fullname":"Nguyen Van A","email":"example@gmail.com","gender":1,"address":"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":1,"username":"0999999999","fullname":"Nguyen Van A","email":"example@gmail.com","phone":"0999999999","address":"998\/42\/15","gender":1,"vip":1,"created_at":"2023-03-16T05:06:44.000000Z"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"fullname\"=\"Nguyen Van A\" \\\n    -d \"email\"=\"example@gmail.com\" \\\n    -d \"gender\"=\"1\" \\\n    -d \"address\"=\"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"fullname\": \"Nguyen Van A\",\n    \"email\": \"example@gmail.com\",\n    \"gender\": \"1\",\n    \"address\": \"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"fullname\" =>  \"Nguyen Van A\",\n    \"email\" =>  \"example@gmail.com\",\n    \"gender\" =>  \"1\",\n    \"address\" =>  \"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/auth\/update-password":{"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u","description":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u user hi\u1ec7n t\u1ea1i.","requestBody":{"description":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u user hi\u1ec7n t\u1ea1i.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["old_password","password","password_confirmation"],"properties":{"old_password":{"type":"string","example":"123","description":"M\u1eadt kh\u1ea9u c\u0169 c\u1ee7a b\u1ea1n."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."},"password_confirmation":{"type":"string","example":"123456","description":"Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"old_password":"123","password":"123456","password_confirmation":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\/update-password\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"old_password\"=\"123\" \\\n    -d \"password\"=\"123456\" \\\n    -d \"password_confirmation\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\/update-password\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"old_password\": \"123\",\n    \"password\": \"123456\",\n    \"password_confirmation\": \"123456\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"old_password\" =>  \"123\",\n    \"password\" =>  \"123456\",\n    \"password_confirmation\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/auth\/update-password\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/register":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"\u0110\u0103ng k\u00fd","description":"T\u1ea1o m\u1edbi 1 user.","requestBody":{"description":"T\u1ea1o m\u1edbi 1 user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["fullname","phone","email","password","password_confirmation"],"properties":{"fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean c\u1ee7a b\u1ea1n."},"phone":{"type":"string","example":"0999999999","description":"S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a b\u1ea1n(\u0110\u00fang \u0111\u1ecbnh d\u1ea1ng s\u1ed1 \u0111i\u1ec7n tho\u1ea1i)."},"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."},"password_confirmation":{"type":"string","example":"123456","description":"Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"fullname":"Nguyen Van A","phone":"0999999999","email":"example@gmail.com","password":"123456","password_confirmation":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/register\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"fullname\"=\"Nguyen Van A\" \\\n    -d \"phone\"=\"0999999999\" \\\n    -d \"email\"=\"example@gmail.com\" \\\n    -d \"password\"=\"123456\" \\\n    -d \"password_confirmation\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/register\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"fullname\": \"Nguyen Van A\",\n    \"phone\": \"0999999999\",\n    \"email\": \"example@gmail.com\",\n    \"password\": \"123456\",\n    \"password_confirmation\": \"123456\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"fullname\" =>  \"Nguyen Van A\",\n    \"phone\" =>  \"0999999999\",\n    \"email\" =>  \"example@gmail.com\",\n    \"password\" =>  \"123456\",\n    \"password_confirmation\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/register\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/login":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"\u0110\u0103ng nh\u1eadp","description":"\u0110\u0103ng nh\u1eadp t\u00e0i kho\u1ea3n.","requestBody":{"description":"\u0110\u0103ng nh\u1eadp t\u00e0i kho\u1ea3n.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["username","password"],"properties":{"username":{"type":"string","example":"0999999999","description":"T\u00ean t\u00e0i kho\u1ea3n l\u00e0 s\u1ed1 \u0111i\u1ec7n tho\u1ea1i."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"username":"0999999999","password":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"\u0110\u0103ng nh\u1eadp th\u00e0nh c\u00f4ng.","access_token":"1|WhUre3Td7hThZ8sNhivpt7YYSxJBWk17rdndVO8K"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/login\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"username\"=\"0999999999\" \\\n    -d \"password\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/login\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"username\": \"0999999999\",\n    \"password\": \"123456\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"username\" =>  \"0999999999\",\n    \"password\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/login\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/reset-password":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u","description":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u khi ng\u01b0\u1eddi d\u00f9ng qu\u00ean m\u1eadt kh\u1ea9u.","requestBody":{"description":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u khi ng\u01b0\u1eddi d\u00f9ng qu\u00ean m\u1eadt kh\u1ea9u.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."}},"example":{"email":"example@gmail.com"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7","example":"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng. Vui l\u00f2ng ki\u1ec3m tra email c\u1ee7a b\u1ea1n \u0111\u1ec3 l\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reset-password\" \\\n    -H \"X-TOKEN-ACCESS: ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\" \\\n\n    -d \"email\"=\"example@gmail.com\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reset-password\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"email\": \"example@gmail.com\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"ijCCtggxLEkG3Yg8hNKZJvMM4EA1Rw4VjVvyIOb7\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"email\" =>  \"example@gmail.com\",\n];\n\n\n$ch = curl_init(\"https:\/\/server43.mevivu.com\/topzone_cms\/api\/v1\/reset-password\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}}},"x-tagGroups":[]}